@import "../vui/styleUtils/index.scss";
@import "./variables.scss";

$chatbotPosition: $sizeS;

.vrcbChatbotButton {
  position: fixed;
  bottom: $chatbotPosition;
  right: $chatbotPosition;
  z-index: 9999;
  background-color: $colorPrimary;
  color: $colorEmptyShade;
  white-space: nowrap;
  border-radius: $sizeXxs;
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  box-shadow: $shadowLargeStart;
  transition: all $transitionSpeed;
  line-height: 1;
  cursor: pointer;
  font-size: $fontSizeMedium;
  padding: $sizeXs $size;
  height: 34px;

  &:hover {
    box-shadow: $shadowLargeEnd;
  }
}

.vrcbChatMessageContainer {
  display: flex;
}

.vrcbChatMessage {
  padding: $sizeS $sizeM;
  border-radius: $sizeM;
}

.vrcbChatMessageContainer--question {
  justify-content: flex-start;
  padding: 0 $sizeXxl 0 $sizeS;

  .vrcbChatMessage {
    color: $colorText;
    font-weight: $fontWeightBold;
    font-size: $fontSizeStandard;
    padding-left: 0;
  }
}

.vrcbChatMessageContainer--thinking,
.vrcbChatMessageContainer--answer {
  padding: 0 $sizeXxl;
  padding-right: $sizeS;

  .vrcbChatMessage {
    background-color: $colorLightShade;
  }
}

.vrcbChatMessageContainer--error,
.vrcbChatMessageContainer--answer {
  justify-content: flex-start;
}

.vrcbChatMessageContainer--error {
  padding: 0 $sizeL;
  font-size: $fontSizeSmall;
}

.vrcbChatMessageContainer--thinking {
  justify-content: flex-end;

  .vrcbChatMessage {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.vrcbChatMessageContainer--answer {
  .vrcbChatMessage {
    color: $colorFullShade;
  }
}

.vrcbChatMessageContainer--error {
  .vrcbChatMessage {
    color: $colorDanger;
  }
}

.vrcbChatInputContainer {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 20px;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8));
    pointer-events: none;
  }
}

.vrcbChatSummaryCitation,
.vrcbChatSearchResultPosition {
  background-color: rgba($colorFullShade, 0.05);
  color: $colorFullShade;
  padding: $sizeXxxs $sizeXxs;
  font-size: $fontSizeSmall;
  border-radius: $sizeXxs;
  font-weight: $fontWeightBold;
  line-height: 1.4;
}

.vrcbChatSummaryCitation {
  display: inline;
}

.vrcbChatbotWrapper {
  align-items: stretch;
  background-color: $colorEmptyShade;
  border: 1px solid $borderColor;
  box-shadow: $shadowLargeEnd;
  border-radius: $sizeXxs;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: fixed;
  bottom: $chatbotPosition;
  right: $chatbotPosition;
  z-index: 9999;
  max-width: 600px;
  width: calc(100vw - $chatbotPosition * 2);
  max-height: 800px;
  height: calc(100vh - $chatbotPosition * 2);
}

.vrcbChatbotInnerWrapper {
  gap: $sizeXs;
  flex-basis: 100%;
  min-height: 0;
  padding: 0 $sizeXs $sizeXs;
}

.vrcbMessagesWrapper {
  flex-basis: 100%;
  min-height: 0;

  & > div {
    height: 100%;
    overflow-y: auto;
  }
}

.vrcbHeader {
  border-bottom: 1px solid $borderColorLight;
  color: $colorText;
  font-size: $fontSizeStandard;
  font-weight: $fontWeightBold;
  gap: 4px;
  padding: 8px;

  & > div {
    flex-direction: row;
  }
}

.vrcbEmptyMessages {
  color: $colorFullShade;
  font-weight: $fontWeightBold;
  height: 100%;
  opacity: 0.3;
}

.vrcbRetryButton {
  color: $colorPrimary;
  font-weight: $fontWeightBold;
  padding: $sizeXxxs $sizeXxs;
}

// Make the Chatbot window take the full screen at small screen widths.
@media (max-width: 700px) {
  .vrcbChatbotWrapper {
    right: 0;
    bottom: 0;
    width: 100vw;
    max-width: 100vw;
    border: none;
    border-top: 1px solid $borderColor;
  }
}

@media (max-height: 840px) {
  .vrcbChatbotWrapper {
    right: 0;
    bottom: 0;
    height: 100%;
    max-height: 100%;
    border-radius: 0;
    border: none;
    border-left: 1px solid $borderColor;
  }
}
